<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053737369070-7a61ov70fhavca4i6ftu16uaqjejl92l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053737369070-7a61ov70fhavca4i6ftu16uaqjejl92l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1053737369070-0n3f4c9k1hmmcsovpritl9sp251cn81v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ4Hpc-0F-1xr9e0VqYg5sF9NOTbqIpHU</string>
	<key>GCM_SENDER_ID</key>
	<string>1053737369070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smoothandesign.useme</string>
	<key>PROJECT_ID</key>
	<string>smoothandesign</string>
	<key>STORAGE_BUCKET</key>
	<string>smoothandesign.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053737369070:ios:f4fe4935346b0bf46422ff</string>
	<key>DATABASE_URL</key>
	<string>https://smoothandesign-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>